body {
  padding: 20px;
}

.task {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.task-description[readonly] {
  cursor: pointer;
}

.task-description:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.task-description-done {
  text-decoration: line-through;
}

.task:hover {
  transform: scale(1.02);
}

/* .progress {
  height: 40px;
  position: relative;
}

.progress-bar {
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.progress-label {
  color: #0275D8;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  z-index: 1;
} */